.accordion-btn {
  background-color: #111;
  color: #d4af37;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.3s;
}

.accordion-btn:hover {
  background-color: #222;
}

.accordion-content {
  display: none;
  background-color: #1a1a1a;
  padding: 10px 20px;
}

.accordion-content ul {
  list-style: none;
  padding: 0;
}

.accordion-content li {
  margin: 6px 0;
  color: #eee;
}
